@{
    ViewData["Title"] = "Home Page";
}

<div class ="jumbotron">
<h1>Pierre's Sweet and Salty Shop!</h1>
</div>
<div class = "Content">
    <h3> Welcome to Pierre's sweet and Salty Shop where you can customize your favorite treats at the click of a button! What are you waiting for?  </h3>
 <div class ="nav- bar">   
<p>@Html.ActionLink("Create an account/Log-in", "Index", "Account")</p>
<p>@Html.ActionLink("Logged in? See all favorite flavors here!", "Index", "Flavors")</p>
<p>@Html.ActionLink("Logged in? See all your personalized Treats", "Index", "Treats")</p>
</div>